.auctions {
  padding-top: 100px;
  div h2, h3, h4, p {
    color: #46494C;
  }
  h1, th {
    color: white;
    font-weight: bold;
  }
  label {
    color: white;
    font-weight: bold;
  }
  .h3 {
    color: white;
  }
}

