.auctions {
  padding-top: 100px;
  div h2, p {
    color: #46494C;
  }
  h4, th {
    color: white;
    font-weight: bold;
  }
  label {
    color: #46494C;
    font-weight: bold;
  }
  .h3 {
    color: white;
  }
}
.gray-text {
  color: #46494C !important;
  font-family: 'Roboto', sans-serif;
}
.icon-size {
  height: 20px;
  width: 18px;
}

.table td {
  vertical-align: middle;
}

.div-height {
  height: 110px;
}
