.bids {
  padding-top: 100px;
  div h3, p {
    color: #46494C;
  }
  h1, h2, {
    color: #46494C;
    font-weight: bold;
  }
  .value {
    color: #46494C;
  }
  .table {
    color: #46494C;
    padding: 10px;
  }
  .rows {
    margin-top: 20px;
  }
}

