.bids {
  padding-top: 100px;
  div h2, h3, h4, th, p {
    color: #46494C;
  }
  h1 {
    color: white;
    font-weight: bold;
  }
  .colunas {
    color: white;
    padding: 10px;
  }
  .rows {
    margin-top: 20px;
  }
}

