/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body {
  height: 100%;
  position: relative;
  min-height: 100vh;

  /* Background image */
  background-image: asset-url('under-construction.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  background-repeat: no-repeat;
}

#yeield-container {
  padding-bottom: 100px;
}

/* Position text in the top-left corner */
.topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

.photo-credit a {
  color: white;
  font-weight: bold;
  text-emphasis: none;
}
/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}
