.sellers {
  padding-top: 150px;
  div h1, h2, h3, h4, th, p {
    color: #46494C;
  }

  label {
    color: white;
    font-weight: bold;
  }

.list-group {
  color: #46494C;
  }

.row {
  color: #46494C;
  }

h4 {
  margin-top: 50px;
  }
}
