<div class="container">

  <h2>These are the received BID's</h2>

  <% @bids.each do |bid| %>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Store: <%= bid.seller.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"> <%= bid.total%></h6>
        <p class="card-text">Address: <%= bid.seller.address %> </p>
        <a href="#" class="card-link">Details</a>
      </div>
    </div>
  <% end %>
</div>

