<tr class='nested-fields'>
  <td>
    <%= link_to_remove_association "remove product", f, class: 'btn btn-primary btn-xs' %>
  </td>
  <td><%= f.input :product_id, collection: @products.map { |product| [product.description, product.id, {data: {description: product.description}}] } %></td>
  <td><%= f.input :quantity, collection: (1..100) %></td>
</tr>
