<div class="container">
  <h1>All auctions </h1>

  <% @auctions.map do |auction| %>
    <h5>
      <ul>
        <li><%= link_to "#{auction.user_id}", auction_path(auction)%></li>
        <li><%= auction.status %></li>
      </ul>
    </h5>
  <% end %>
</div>
