<div class="container">
  <h1>Todas as listas </h1>

  <% @auctions.each do |auction| %>
    <h5>
      <ul>
        <%= auction.user_id %>
        <%= auction.status %>
      </ul>
    </h5>
  <% end %>
</div>
