<div class="container">
  <h1>All auctions </h1>

  <% @auctions.map do |auction| %>
    <h5>
      <ul>
        <%= auction.user_id %>
        <%= auction.status %>
      </ul>
    </h5>
  <% end %>
</div>
