<div class="container">
  <h3>Todas as listas </h3>

  <% @auctions.map do |auction| %>
    <ul>
      <h4><li><%= link_to "#{auction.list_name}", auction_path(auction)%></li></h4>
      <p>Deadline: <%= auction.deadline %></p>
    </ul>
  <% end %>
</div>
