<%= link_to new_seller_path, class: 'btn-flat nav-link' do%>
  <div class="px-2 d-flex flex-column align-items-center">
    <span>Become a</span>
    <span><strong>SELLER</strong> <i class="fas fa-store"></i></span>
  </div>
<% end %>
