
<%= link_to new_seller_path, class: 'nav-link' do%>

  <div class="px-2 d-flex flex-column align-items-center">
    <span><%= I18n.translate('home.h_become')%></span>
    <span><strong><%= I18n.translate('home.h_seller') %></strong> <i class="fas fa-store"></i></span>
  </div>
<% end %>
