<div class="m-4 my-5 p-3 d-flex justify-content-between">
  <%= link_to '<i class="fas fa-arrow-alt-circle-left fa-xs"></i>'.html_safe, :back, class: "h1 text-secondary" %>
  <% if current_user.seller %>
    <%= link_to '<i class="fas fa-th-list fa-xs"></i>'.html_safe, seller_path(current_user.seller), class: 'h1 text-primary' %>
  <% else %>
    <%= link_to '<i class="fas fa-th-list fa-xs"></i>'.html_safe, auctions_path, class: 'h1 text-primary' %>
  <% end %>
  <%= link_to '<i class="fas fa-home fa-xs"></i>'.html_safe, root_path, class: "h1 text-success" %>
</div>
