.alert {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
}
//   animation: hideMe 3s 1;
//   animation-fill-mode: forwards;
//   animation-delay: 3s;
// }
// @keyframes hideMe {
//   0% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0;
//     display: none !important;
//   }
// }
