.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 100px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.field-hight {
  height: 27px;
  border-radius: 4px;
}

.form-text {
  color: white;
  p {
    color: white;
  }
}

.unit-price {
  border: none;
  background-image: none!important;
  text-align: center;
  font-size: 1.5em;
}
