.navbar-lewagon {
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  justify-content: space-between;
  background: white;
}

.navbar {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
  font-weight: bold;
}
.nav-link {
  color: white !important;
}

.d-flex {
  color: white;
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
